        <footer class="footer-area">
            <div class="container">
                <div class="footer-content text-center">
                    <a href="https://wpriverthemes.com/landing/gridx-html/index.html" class="logo">
                        <img src="assets/img/Ledéveloppeurcréatif_logo-removebg.png" width="100" height="100" alt="Logo">
                    </a>
                    <ul class="footer-menu">
                        <li><a href="https://wpriverthemes.com/landing/gridx-html/index.html">Accueil</a></li>
                        <li><a href="https://wpriverthemes.com/landing/gridx-html/about.html">A propos</a></li>
                        <li><a href="https://wpriverthemes.com/landing/gridx-html/works.html">Projets</a></li>
                        <li><a href="https://wpriverthemes.com/landing/gridx-html/contact.html">Contacts</a></li>
                    </ul>
                    <p class="copyright">
                        © copyright 2025 <span>Le développeur Créatif</span>
                    </p>
                </div>
            </div>
        </footer>
