        <!-- Breadcrumb -->
        <section class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content aos-init aos-animate" data-aos="fade-up">

                    <h1 class="section-heading"><img src="assets/img/star-2.png" alt="Star"> Projets seniors <img src="assets/img/star-2.png" alt="Star"></h1>
                </div>
            </div>
        </section>


        <!-- Blog Items -->
        <section class="blog-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-items">
                            <div class="blog-item aos-init aos-animate" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="assets/img/job2invoice.png" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">Mars-Juin 2025</span>
                                    <h1><a href="">Job2invoice (Gestion de devis & factures).</a></h1>
                                    <p>Développement frontend d’une application web (Job2invoice),application de gestion de devis & factures pour freelance avec Angular & SpringBoot.</p>
                                    <a href="" class="theme-btn">En cours</a>
                                </div>
                            </div>

                            <div class="blog-item aos-init aos-animate" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="assets/img/findway.png" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">Mai-Juin 2025 </span>
                                    <h1><a href="https://findyourway.pages.dev/">FindYourWay (Plateforme d'orientation pré & post Bac).</a></h1>
                                    <p>Développement d’un site d’orientation, plateforme de recherche d’écoles spécialisées avec Flask & Vue.js .</p>
                                    <a href="https://findyourway.pages.dev/" class="theme-btn">Voir plus</a>
                                </div>
                            </div>

                            <div class="blog-item aos-init aos-animate" data-aos="zoom-in">
                                <div class="img-box">
                                    <img src="assets/img/myown.png" alt="Blog">
                                </div>
                                <div class="content">
                                    <span class="meta">Décembre 2024-Mars 2025</span>
                                    <h1><a href="https://myown-iota.vercel.app/">Myown (Engins & Pièces saisis)</a></h1>
                                    <p>Réalisation d’une application web (Myown),de recherche d’engins et pièces saisies avec Angular & SpringBoot.</p>
                                    <a href="https://myown-iota.vercel.app/" class="theme-btn">Voir plus</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="blog-sidebar">
                            <div class="blog-sidebar-inner">

                                <div class="blog-sidebar-widget search-widget">
                                    <div class="blog-sidebar-widget-inner aos-init aos-animate" data-aos="zoom-in">
                                        <form class="shadow-box">
                                            <input type="text" placeholder="Search Here...">
                                            <button class="theme-btn">Search</button>
                                        </form>
                                    </div>
                                </div>

                                <!-- <div class="blog-sidebar-widget recent-post-widget aos-init aos-animate" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Recent Posts</h3>

                                        <ul>
                                            <li><a href="">Consulted admitting is power acuteness.</a></li>
                                            <li><a href="">Unsatiable entreaties may collecting Power.</a></li>
                                            <li><a href="">Discovery incommode earnestly no he commanded</a></li>
                                            <li><a href="">Unsatiable entreaties may collecting Power.</a></li>
                                        </ul>

                                    </div>
                                </div> -->

                                <div class="blog-sidebar-widget categories-widget aos-init aos-animate" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Catégories</h3>

                                        <ul>
                                                          <li><a href="">BTP & Construction</a></li>
                                                          <li><a href="">Solutions Informatiques</a></li>
                                                          <li><a href="">Gestion</a></li>
                                                          <li><a href="">Réseaux sociaux & Com Digitale</a></li>
                                                          <li><a href="">Éducation & Orientation</a></li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="blog-sidebar-widget tags-widget aos-init aos-animate" data-aos="zoom-in">
                                    <div class="blog-sidebar-widget-inner shadow-box">
                                        <h3>Stack</h3>

                                        <ul>
                                            <li><a class="theme-btn" href="">Vue.js</a></li>
                                            <li><a class="theme-btn" href="">TypeScript</a></li>
                                            <li><a class="theme-btn" href="">Angular</a></li>
                                            <li><a class="theme-btn" href="">Python</a></li>
                                            <li><a class="theme-btn" href="">Flask</a></li>
                                            <li><a class="theme-btn" href="">Java</a></li>
                                            <li><a class="theme-btn" href="">SpringBoot</a></li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
