        <!-- Contact -->
        <section class="contact-area">
            <div class="container">
                <div class="gx-row d-flex justify-content-between gap-24">
                    <div class="contact-infos">
                        <h3 data-aos="fade-up" class="aos-init aos-animate">Contacts Info</h3>
                        <ul class="contact-details">
                            <li class="d-flex align-items-center aos-init aos-animate" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-mail"></i>
                                </div>
                                <div class="right">
                                    <span>Envoyez-nous un mail</span>
                                    <h4>ahiaboremmanuel9&#64;gmail.com</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center aos-init aos-animate" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-phone"></i>
                                </div>
                                <div class="right">
                                    <span>Nous contacter</span>
                                    <h4>+228 92 59 65 83</h4>
                                </div>
                            </li>

                            <li class="d-flex align-items-center aos-init aos-animate" data-aos="zoom-in">
                                <div class="icon-box shadow-box">
                                    <i class="iconoir-pin"></i>
                                </div>
                                <div class="right">
                                    <span>Localisation</span>
                                    <h4>Ceet cacaveli, Lomé <br>Togo.</h4>
                                </div>
                            </li>
                        </ul>

                        <h3 data-aos="fade-up" class="aos-init aos-animate">Réseaux sociaux</h3>
                        <ul class="social-links d-flex align-center aos-init aos-animate" data-aos="zoom-in">
                          <li><a class="shadow-box" href="https://github.com/Ledeveloppeurcreatif"><i class="iconoir-github"></i></a></li>
                          <li><a class="shadow-box" href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253/"><i class="iconoir-linkedin"></i></a></li>
                            <li><a class="shadow-box" href="https://wa.me/22892596583?text=Bonjour%2C%20je%20souhaite%20plus%20d'informations" target="_blank"><i class="iconoir-whatsapp"></i></a></li>

                        </ul>
                    </div>

                    <div data-aos="zoom-in" class="contact-form aos-init aos-animate">
                        <div class="shadow-box">
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <img src="assets/img/icon3.png" alt="Icon">
                            <h1>Ton idée là?<br>on peut<span> la faire hein!</span></h1>
                            <form method="POST" action="https://wpriverthemes.com/landing/gridx-html/mailer.php">
                                <div class="alert alert-success messenger-box-contact__msg" style="display: none" role="alert">
                                    Votre message a été envoyé avec succès.
                                </div>
                                <div class="input-group">
                                    <input type="text" name="nom-complet" id="nom-complet" placeholder="Nom *">
                                </div>
                                <div class="input-group">
                                    <input type="email" name="email" id="email" placeholder="Email *">
                                </div>
                                <div class="input-group">
                                    <input type="text" name="sujet" id="sujet" placeholder="Ton sujet *">
                                </div>
                                <div class="input-group">
                                    <textarea name="message" id="message" placeholder="Ton Message *"></textarea>
                                </div>
                                <div class="input-group">
                                    <button class="theme-btn submit-btn" name="submit" type="submit">envoyer</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </section>
