        <!-- Credentials -->
        <section class="credential-area">
            <div class="container">
                <div class="gx-row d-flex">
                    <div class="credential-sidebar-wrap aos-init aos-animate" data-aos="zoom-in">
                        <div class="credential-sidebar text-center">
                            <div class="shadow-box">
                                <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                <div class="img-box">
                                    <img src="assets/img/me.png" alt="About Me">
                                </div>
                                <h2>Emmanuel K. AHIABOR</h2>
                                <p>ahiaboremmanuel9&#64;gmail.com</p>

                                <ul class="social-links d-flex justify-content-center">
                                    <li><a href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253/"><i class="iconoir-linkedin"></i></a></li>
                                    <li><a href="https://github.com/Ledeveloppeurcreatif"><i class="iconoir-github"></i></a></li>
                                    <li><a href="https://www.tiktok.com/@ledeveloppeurcreatif"><i class="iconoir-tiktok"></i></a></li>
                                    <li><a href="https://x.com/manouking_02"><i class="iconoir-x"></i></a></li>

                                </ul>

                                <a href="https://wa.me/22892596583" class="theme-btn">Me contacter</a>
                            </div>
                        </div>
                    </div>

                    <div class="credential-content flex-1">
                        <div class="credential-about aos-init aos-animate" data-aos="zoom-in">
                            <h2>A propos de moi</h2>
                            <p>Développeur web avec un intérêt marqué pour la stratégie numérique. Je suis passionné par la création de solutions digitales modernes et performantes. Autonome, créatif et orienté résultats, je m’adapte facilement aux environnements dynamiques.</p>
                            <p>Je suis prêt à relever de nouveaux défis.</p>
                        </div>

                        <div class="credential-edc-exp credential-experience">
                            <h2 data-aos="fade-up" class="aos-init aos-animate">Expériences</h2>
                            <div class="credential-edc-exp-item aos-init aos-animate" data-aos="zoom-in">
                                <h4>Mai 2024 - Avr. 2025</h4>
                                <h3>Développeur Back-End Django chez DevstynoProjex Solutions</h3>
                                <h5>Développement d'API REST avec Django</h5>
                                <p> En tant que développeur Back-End Django chez DevstynoProjex Solutions j'étais responsable de la création d'API-REST de leurs solutions.</p>
                            </div>
                            <div class="credential-edc-exp-item aos-init aos-animate" data-aos="zoom-in">
                                <h4>Avril 2024 - 2025</h4>
                                <h3>Social Media Manager chez COMMUNAUTE OOZONS</h3>
                                <h5>Gestion & animations des réseaux sociaux</h5>
                                <p>Créateur de contenu & animations de la communauté numérique chez oozons.</p>
                            </div>
                                                        <div class="credential-edc-exp-item aos-init aos-animate" data-aos="zoom-in">
                                <h4>Mai 2025 - Juillet 2025</h4>
                                <h3>Developpeur web</h3>
                                <h5>Developpeur Front-End chez Nerdtic</h5>
                                <p>En tant que développeur frontend, j'étais responsable de la création d'interfaces modernes et fluide avec Angular chez Nerdtic.</p>
                            </div>
                        </div>

                        <div class="credential-edc-exp credential-education">
                            <h2 data-aos="fade-up" class="aos-init aos-animate">éducation</h2>
                            <div class="credential-edc-exp-item aos-init aos-animate" data-aos="zoom-in">
                                <h4>Juillet 2022</h4>
                                <h3>baccalauréat deuxième partie;</h3>
                                <h5>NDE , Lomé-TOGO.</h5>
                                <p>J'ai fais mes études scolaire dans une des prestigieuses écoles catholique de la ville de Lomé qui a été couronné par le brevet du baccalauréat deuxième partie série scientifique.</p>
                            </div>
                            <div class="credential-edc-exp-item aos-init aos-animate" data-aos="zoom-in">
                                <h4>Juin 2025</h4>
                                <h3>Licence en Génie Logiciel</h3>
                                <h5>Ipnet Institute of Technology, Lomé-TOGO.</h5>
                                <p>J'ai ensuite effectué une licence professionnel en informatique spécialité Génie Logiciel dans la plus prestigieuse école informatique du Togo.</p>
                            </div>
                        </div>

                        <div class="skills-wrap">
                            <h2 data-aos="fade-up" class="aos-init aos-animate">Compétences</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">85%</span>
                                    <h3 class="name">TypeScript</h3>
                                    <p>Langage côté Front-End</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">78%</span>
                                    <h3 class="name">Angular</h3>
                                    <p>Framework côté</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">92%</span>
                                    <h3 class="name">Python</h3>
                                    <p>Langage côté Backend</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">90%</span>
                                    <h3 class="name">Django & DRF</h3>
                                    <p>Framework côté Backend ou Api</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">81%</span>
                                    <h3 class="name">JAVA</h3>
                                    <p>Langage côté Backend</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">87%</span>
                                    <h3 class="name">SpringBoot</h3>
                                    <p>Framework côté Api</p>
                                </div>

                            </div>
                        </div>

                        <div class="skills-wrap awards-wrap">
                            <h2 data-aos="fade-up" class="aos-init aos-animate">Certifications</h2>
                            <div class="d-grid skill-items gap-24 flex-wrap">
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">Janvier 2025</span>
                                    <h3 class="name">KICKOFF Agile Badge</h3>
                                    <p>Badge de gestion de projet Agile #kickoff.pmi .</p>
                                </div>
                                <div class="skill-item aos-init aos-animate" data-aos="zoom-in">
                                    <span class="percent">Septembre 2024</span>
                                    <h3 class="name">Certificat JPOPE</h3>
                                    <p>Certificat de participation aux Journées Portes Ouvertes Projets Etudiants (JPOPE, Edition 2024) à IPNET Institute of Technology.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
