        <!-- Service -->
        <section class="service-area">
            <div class="container">
                <h1 class="section-heading aos-init aos-animate" data-aos="fade-up"><img src="assets/img/star-2.png" alt="Star"> Mes services <img src="assets/img/star-2.png" alt="Star"></h1>

                <div class="row">

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="service-sidebar aos-init aos-animate" data-aos="fade-right">
                            <div class="service-sidebar-inner shadow-box">
                                <ul>
                                    <li>
                                        <i class="iconoir-camera icon"></i>
                                        SOCIAL MEDIA MANAGEMENT
                                    </li>
                                    <li>
                                        <i class="iconoir-design-pencil icon"></i>
                                        WEB DESIGN
                                    </li>
                                    <li>
                                        <i class="iconoir-community"></i>
                                        COMMUNITY MANAGEMENT
                                    </li>
                                    <li>
                                        <i class="iconoir-developer"></i>
                                        DEVELOPMENT WEB
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class="col-md-8">
                        <h1 class="section-heading aos-init aos-animate" data-aos="fade-up"><img src="assets/img/star-2.png" alt="Star"> Mes services <img src="assets/img/star-2.png" alt="Star"></h1>

                        <div class="service-content-wrap aos-init aos-animate" data-aos="zoom-in">
                            <div class="service-content-inner shadow-box">
                                <div class="service-items">
                                    <div class="service-item">
                                        <h3>SOCIAL MEDIA MANAGEMENT</h3>
                                        <p>Je gère et anime tes réseaux sociaux pour développer ta communauté, augmenter ta visibilité et engager ton audience avec du contenu impactant.</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>WEB DESIGN</h3>
                                        <p>Je conçois des sites web modernes, esthétiques et adaptés à tous les écrans pour valoriser ton image et attirer plus de clients.</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>COMMUNITY MANAGEMENT</h3>
                                        <p>Je crée et anime une communauté autour de ta marque pour renforcer la fidélité de tes clients et dynamiser ton activité en ligne.</p>
                                    </div>
                                    <div class="service-item">
                                        <h3>DEVELOPMENT WEB</h3>
                                        <p>Je développe des solutions web sur-mesure, performantes et sécurisées, parfaitement adaptées à tes besoins et à tes objectifs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="d-flex profile-contact-credentials-wrap gap-24">

                            <div data-aos="zoom-in" class="aos-init aos-animate">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                        <a href="https://github.com/Ledeveloppeurcreatif">
                                            <i class="iconoir-github"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253/">
                                            <i class="iconoir-linkedin"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes réseaux</h1>
                                        </div>

                                        <a href="" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="flex-1 aos-init aos-animate">
                                <div class="about-contact-box info-box shadow-box">
                                    <a class="overlay-link" routerLink="/contacts"></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <img src="assets/img/icon2.png" alt="Icon" class="star-icon">
                                    <h1>Ton idée là?<br>on peut<span> la faire hein!</span></h1>
                                    <a routerLink="/contacts" class="about-btn">
                                        <img src="assets/img/icon.svg" alt="Button">
                                    </a>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="h-full aos-init aos-animate">
                                <div class="about-crenditials-box info-box shadow-box">
                                    <a class="overlay-link" routerLink="/about"></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <img src="assets/img/sign.png" alt="Sign">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes informations</h1>
                                        </div>

                                        <a routerLink="/about" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
