        <!-- About -->
        <section class="about-area">
            <div class="container">
                <div class="d-flex about-me-wrap align-items-start gap-24">
                    <div data-aos="zoom-in" class="aos-init aos-animate">
                        <div class="about-image-box shadow-box">
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <div class="image-inner">
                                <img src="assets/img/me.png" alt="About Me">
                            </div>
                        </div>
                    </div>

                    <div class="about-details aos-init aos-animate" data-aos="zoom-in">
                        <h1 class="section-heading aos-init aos-animate" data-aos="fade-up"><img src="assets/img/star-2.png" alt="Star"> Voilà-Moi <img src="assets/img/star-2.png" alt="Star"></h1>
                        <div class="about-details-inner shadow-box">
                            <img src="assets/img/icon2.png" alt="Star">
                            <h1>Emmanuel K. AHIABOR</h1>
                            <p>Développeur web avec un intérêt marqué pour la stratégie numérique. Je suis passionné par la création de solutions digitales modernes et  performantes. Autonome, créatif et orienté résultats, je m’adapte facilement aux environnements dynamiques.</p>
                        </div>

                    </div>
                </div>

                <div class="row mt-24">
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">
                        <div class="about-edc-exp about-experience shadow-box">
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <h3>EXPERIENCE</h3>

                            <ul>
                              <li>
                                <p class="date">
                                  Mai 2024 - Avr. 2025</p>
                                <h2>
                                  Développeur Back-End Django chez DevstynoProjex Solutions</h2>
                                <p class="type">Développement d'API REST avec Django</p>
                            </li>
                                <li>
                                    <p class="date">Avril 2024 - 2025</p>
                                    <h2>Social Media Manager chez COMMUNAUTE OOZONS</h2>
                                    <p class="type">Créateur de contenu & animations de la communauté numérique chez oozons</p>
                                </li>
                                <li>
                                    <p class="date">Mai 2025 - Juillet 2025</p>
                                    <h2>Developpeur Front-End chez Nerdtic</h2>
                                    <p class="type">En tant que développeur frontend, je suis responsable de la création d'interfaces modernes et fluide avec Angular.</p>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">
                        <div class="about-edc-exp about-education shadow-box">
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <h3>EDUCATION</h3>

                            <ul>
                              <li>
                                <p class="date">Juin 2021 </p>
                                <h2>baccalauréat première partie;</h2>
                                <p class="type">NDE , Lomé-TOGO.</p>
                            </li>
                                <li>
                                    <p class="date">Juillet 2022 </p>
                                    <h2>baccalauréat deuxième partie;</h2>
                                    <p class="type">NDE , Lomé-TOGO.</p>
                                </li>
                                <li>
                                    <p class="date">Juin 2025 </p>
                                    <h2>Licence en Génie Logiciel </h2>
                                    <p class="type">Ipnet Institute of Technology, Lomé-TOGO.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="d-flex profile-contact-credentials-wrap gap-24">

                            <div data-aos="zoom-in" class="aos-init aos-animate">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                      <a href="https://github.com/Ledeveloppeurcreatif">
                                          <i class="iconoir-github"></i>
                                      </a>
                                      <a href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253/">
                                          <i class="iconoir-linkedin"></i>
                                      </a>
                                  </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes réseaux</h1>
                                        </div>

                                        <a href="" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="flex-1 aos-init aos-animate">
                                <div class="about-contact-box info-box shadow-box">
                                    <a class="overlay-link" href=""></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <img src="assets/img/icon2.png" alt="Icon" class="star-icon">
                                    <h1>Allez !<br>On concrétise <br><span>Ton idée là.</span></h1>
                                    <a href="" class="about-btn">
                                        <img src="assets/img/icon.svg" alt="Button">
                                    </a>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="h-full aos-init aos-animate">
                                <div class="about-crenditials-box info-box shadow-box">
                                    <a class="overlay-link" routerLink="/about"></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <img src="assets/img/sign.png" alt="Sign">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4><br>
                                            <h1>Mes informations</h1>
                                        </div>

                                        <a routerLink="/about" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
