        <header class="header-area">
            <div class="container">
                <div class="gx-row d-flex align-items-center justify-content-between">
                    <a routerLink="/" class="logo">
                        <img src="assets/img/Ledéveloppeurcréatif_logo-removebg.png" width="90" height="90" alt="Logo">
                    </a>

                    <nav class="navbar">
                        <ul class="menu">
                            <li class="active"><a routerLink="/">Accueil</a></li>
                            <li><a routerLink="/resume">A propos </a></li>
                            <li><a routerLink="/site">Projets</a></li>
                            <li><a routerLink="/contacts">Contacts</a></li>
                        </ul>
                        <a routerLink="/contacts" class="theme-btn">Parlons-en!</a>
                    </nav>

                    <a routerLink="/contacts" class="theme-btn">Parlons-en!</a>

                    <div class="show-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
