<main class="main-homepage">


        <!-- About -->
        <section class="about-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">
                        <div class="about-me-box shadow-box">
                            <a class="overlay-link" routerLink="/resume"></a>
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <div class="img-box">
                                <img src="assets/img/me.png" alt="About Me">
                            </div>
                            <div class="infos">
                                <h4>Le-développeur-créatif</h4>
                                <h1>Emmanuel K. AHIABOR </h1>
                                <p>Je suis développeur Web & Digital Communication enthousiast.</p>
                                <a href="#" class="about-btn">
                                    <img src="assets/img/icon.svg" alt="Button">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="about-credentials-wrap">
                            <div data-aos="zoom-in" class="aos-init aos-animate">
                                <div class="banner shadow-box" style="display: flex; align-items: center;">
                                  <!-- Bouton lecteur à gauche -->
                                  <button (click)="toggleAudio()" style="font-size: 2rem; background: #FFD600; border: none; cursor: pointer; margin-right: 16px; z-index:2; border-radius: 50%; width: 48px; height: 48px; display: flex; align-items: center; justify-content: center;">
                                    <i [ngClass]="isAudioPlaying ? 'iconoir-pause' : 'iconoir-play'"></i>
                                  </button>
                                  <!-- Marquee à droite -->
                                  <div class="marquee" style="flex: 1;">
                                    <div>
                                      <span>SCROLLEZ ACCOMPAGNER D'UNE BONNE  <b>VIBE</b> <img src="assets/img/star1.svg" alt="Star"> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <b>VIBE</b> <img src="assets/img/star1.svg" alt="Star"> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <b>VIBE</b> <img src="assets/img/star1.svg" alt="Star"> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <b>VIBE</b> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <img src="assets/img/star1.svg" alt="Star"> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <b>VIBE</b> SCROLLEZ ACCOMPAGNER D'UNE BONNE   <img src="assets/img/star1.svg" alt="Star"></span>
                                    </div>
                                  </div>
                                  <audio #audioPlayer id="background-audio" src="assets/audio/mbife.mp3"></audio>
                                </div>

                            </div>
                            <div class="gx-row d-flex gap-24">
                                <div data-aos="zoom-in" class="aos-init aos-animate">
                                    <div class="about-crenditials-box info-box shadow-box h-full">
                                        <a class="overlay-link" routerLink="/about"></a>
                                        <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                        <img src="assets/img/sign.png" alt="Sign">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>Voir</h4>
                                                <h1>Mes informations</h1>
                                            </div>

                                            <a href="about" class="about-btn">
                                                <img src="assets/img/icon.svg" alt="Button">
                                            </a>

                                        </div>
                                    </div>
                                </div>

                                <div data-aos="zoom-in" class="aos-init aos-animate">
                                    <div class="about-project-box info-box shadow-box h-full">
                                        <a class="overlay-link" routerLink="/site"></a>
                                        <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                        <img src="assets/img/legenddesign.png" alt="My Works">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="infos">
                                                <h4>Voir</h4>
                                                <h1>Sites réalisés</h1>
                                            </div>

                                            <a href="" class="about-btn">
                                                <img src="assets/img/icon.svg" alt="Button">
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-24">
                    <div class="col-md-12">
                        <div class="blog-service-profile-wrap d-flex gap-24">
                            <div data-aos="zoom-in" class="aos-init aos-animate">
                                <div class="about-blog-box info-box shadow-box h-full">
                                    <a routerLink="/projets" class="overlay-link"></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <img src="assets/img/findway.png" alt="GFonts">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes projets</h1>
                                        </div>

                                        <a href="" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="flex-1 aos-init aos-animate">
                                <div class="about-services-box info-box shadow-box h-full">
                                    <a routerLink="/services" class="overlay-link"></a>
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <div class="icon-boxes">
                                        <i class="iconoir-camera"></i>
                                        <i class="iconoir-adobe-photoshop"></i>
                                        <i class="iconoir-community"></i>
                                        <i class="iconoir-developer"></i>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes Services</h1>
                                        </div>

                                        <a href="" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                            <div data-aos="zoom-in" class="aos-init aos-animate">
                                <div class="about-profile-box info-box shadow-box h-full">
                                    <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                                    <div class="inner-profile-icons shadow-box">
                                        <a href="https://github.com/Ledeveloppeurcreatif">
                                            <i class="iconoir-github"></i>
                                        </a>
                                        <a href="https://www.linkedin.com/in/koffi-emmanuel-ahiabor-4b2a1a253/">
                                            <i class="iconoir-linkedin"></i>
                                        </a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="infos">
                                            <h4>Voir</h4>
                                            <h1>Mes réseaux</h1>
                                        </div>

                                        <a href="" class="about-btn">
                                            <img src="assets/img/icon.svg" alt="Button">
                                        </a>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="row mt-24">
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">

                        <div class="about-client-box info-box shadow-box">
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <div class="clients d-flex align-items-start gap-24 justify-content-center">
                                <div class="client-item">
                                    <h1>01</h1>
                                    <p>An <br>D'expérience</p>
                                </div>

                                <div class="client-item">
                                    <h1>+25</h1>
                                    <p>CLIENTS <br>SATISFAITS</p>
                                </div>

                                <div class="client-item">
                                    <h1>+50</h1>
                                    <p>projets <br>réalisés</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 aos-init aos-animate" data-aos="zoom-in">

                        <div class="about-contact-box info-box shadow-box">
                            <a class="overlay-link" href="https://wa.me/22892596583"></a>
                            <img src="assets/img/bg1.png" alt="BG" class="bg-img">
                            <img src="assets/img/icon2.png" alt="Icon" class="star-icon">
                            <h1>Ton idée là?<br>on peut<span> la faire hein!</span></h1>
                            <a href="https://wa.me/22892596583" target="_blank"class="about-btn">
                                <img src="assets/img/icon.svg" alt="Button">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

